:root {
    --body-bg: #fff;
    --header-text-color: #333;
    --fg-light-grey: #f4f4f4;
    --fg-tomato: #FF6347;
    --fg-dark-orange: #FF8C00;
    --fg-teal-green: #008B8B;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-bg);
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 20px;
}

.menu-item {
    border: 1px solid black;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    background-color: var(--fg-light-grey); /* color for the container including the title and text */
    padding: 20px;
}

.title {
    color: white;
    padding: 10px;
    margin: 0;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
}

.chicken .title {
    background-color: var(--fg-tomato);
}

.beef .title {
    background-color: var(--fg-dark-orange);
}

.sushi .title {
    background-color: var(--fg-teal-green);
}

p {
    margin-bottom: 15px; /* space under each paragraph */
}

@media (max-width: 768px) {
    .menu-item {
        width: 100%;
    }
}